.myimages{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.img{
    width: 300px
}

.iframe{
    display: block;
}

.p{
    font-family: 'Courier New', Courier, monospace;
}
